html {
  --header-Color: #1facc5;
  --backgroundImage: url("bg.jpg");
  --footTextColor: white;
  --middivBackgroundColor: rgba(255, 255, 255, 0.24);
  --labelColor:black;
  --h1Color: RGB(0,131,161);
  --footHeadColor: #415d92  ;
  --aColor: blue;
  --buttonColor:#0275d8;
}

html[data-theme='dark'] {
  --header-Color: #070808;
  --backgroundImage: url("darkBackground.png");
  --footTextColor: white;
  --middivBackgroundColor: rgba(54, 54, 54, 0.151);
  --labelColor:white;
  --h1Color: rgb(221, 26, 26);
  --aColor: rgb(247, 235, 234);
  --footHeadColor: #292b2c;
  --buttonColor:rgb(221, 26, 26);
}

body {
  background-image: var(--backgroundImage);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: absolute;
}

#foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--footHeadColor) !important;
  height: 60px;
  color: var(--footTextColor);
}

#middiv {
  background: var(--middivBackgroundColor);
  color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 390px;
  height: 690px;
  margin: auto;
  border: 1px solid white;
  border-color: white;
  border-radius: 25px;
  margin-top: 50px;
}

#middiv label {
  color: var(--labelColor);
}

#middiv h1 {
  color: var(--h1Color);
}

#middiv a {
  color: var(--aColor);
}

#middiv .btn {
  background-color: var(--buttonColor) !important;
}

.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 1%;
  font-size: 1rem;
  padding-top: 10px;
}

.theme-switch {
  display: inline-block;
  height: 30px;
  position: relative;
  width: 60px;
  margin-top: 20px;
  margin-left: 10%;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  -webkit-transition: .4s;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 6px;
  border-radius: 4px;
}

#errLab {
  color: white;
  font-family: sans-serif;
  position: absolute;
  background-color: red;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 18px;
  text-align: center;
  display: none;
}

#form1 {
  padding-top: 70px;
  padding-left: 50px;
}

.form-group {
  margin-top: -2em;
}

.form-group label {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: -2em;
}

.regUrl {
  font-family: font2;
  margin-bottom: -2em;
}

#Logintitle {
  font-family: font2;
  font-size: 5em;
  font-weight: 600;
  color: white;
  position: relative;
  top: 50px;
}

#first {
  background-color: var(--footHeadColor) !important;
  text-align: center;
  height: 75px;
  width: 100%;
}

@font-face {
  font-family: font2;
  src: url(Aeriozdemo-987B.otf);
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  #middiv {
    width: 100%;
  }
  .image {
    display: none;
  }
  body {
    background-size: 500%;
    overflow: auto;
  }
  .form-control {
    min-width: 90%;
    max-width: 90%;
  }
}

@media only screen and (max-width: 1300px) {
  .theme-switch {
    margin-left: 15%;
  }
}

@media only screen and (max-width: 950px) {
  .theme-switch {
    margin-left: 18%;
  }
}

@media only screen and (max-width: 775px) {
  .theme-switch {
    margin-left: 22%;
  }
}

@media only screen and (max-width: 620px) {
  .theme-switch {
    margin-left: 25%;
  }
}

.image {
  position: absolute;
  left: 0px;
  top: 0;
  left: 0;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 6px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 30px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: RGB(0, 140, 160);
  color: white;
}

/* Style the active/current link*/
.header a.active {
  background-color: #202020;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.header {
  overflow: hidden;
  background-color: var(--header-Color);
  padding: 20px 10px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
/*# sourceMappingURL=loginDesign.css.map */